src/checkpoints/MLP/fusion_model_checkpoint_v2.pth filter=lfs diff=lfs merge=lfs -text
src/checkpoints/MLP/fusion_model_checkpoint.pth filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1017675163.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/104180524.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1053243591.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1105959054.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1007205537.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1150429218.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/120545123.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/151021636.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1568700473.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1024613706.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1040426962.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/13327175.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1363343745.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1026685415.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1044764620.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/105342180.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1082252566.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1145730606.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/142258955.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1271210445.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1342766791.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1024138940.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/107969134.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/108503753.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1089059626.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/111766423.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/112459543.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1018148011.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1044798682.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/11079715.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1122944218.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1193116658.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/177106188.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/103328091.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/10459869.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1057089366.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1161159603.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1454678644.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1469107065.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1035019794.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/110226481.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/136644885.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1022975728.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1042359076.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1084040636.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1163297375.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/14989976.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1005216151.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/101001624.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/10602072.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1104133405.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/118865844.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1000366164.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/102617084.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/11338041.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/101471792.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/102351840.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1028982826.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1033767085.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1131889107.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1294578091.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1468429623.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1061887159.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1088385559.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1089354362.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/111069375.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1378557186.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/146380493.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1082478946.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1146490295.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/124390903.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1415147666.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1016887272.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1047921035.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1105137588.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/112245524.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1144288288.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/126823727.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1001573224.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/137431037.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1499581619.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1833327575.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/10090841.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/102030371.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1099434461.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/11026590.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1248357227.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/130784506.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/165772854.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/179656683.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1014609273.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1035392784.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/125382282.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/143446265.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1509542787.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1597319381.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1071201387.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/110590591.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1143882946.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1422951807.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1010087179.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1056415186.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1164765687.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1347001782.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1110208841.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1193547352.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1001633352.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1003420127.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1029802110.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1034985636.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1042590306.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1068427675.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1417941060.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1464745434.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/14813436.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1087168168.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/116664780.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/16653104.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/191003287.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/194467990.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/18119750.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1000092795.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1001773457.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/114715590.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/126772535.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/129441311.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1409801982.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/108149945.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1163438830.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/116862076.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/123314995.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1850901757.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/102860573.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1060605297.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/115125072.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1012328893.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1022454428.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/116002648.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1332815795.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1478294229.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1000523639.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/100577935.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/102455176.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/10350842.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/104285082.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1104881373.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/101362650.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/109083036.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1578427672.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1189977786.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1265343716.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1000919630.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/102575576.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1027149103.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1027211271.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1089755335.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1142847777.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1801874841.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/10101477.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/108899015.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/100197432.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1052358063.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1056198351.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/11382381.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1187252153.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/151215569.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1010087623.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1136497229.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1140793239.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/141139674.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1459032057.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1680126311.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1057251835.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/106027774.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1067180831.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1073444492.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/116457850.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/132935992.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1440024115.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1039637574.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/10404007.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1056873310.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1075881101.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1082608010.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1151466868.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/103631543.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1405650076.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1547327107.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1012212859.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1042020065.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/105077209.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1084527029.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1104087374.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1298866571.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1014785440.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/10863862.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1595227547.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1083240835.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1425485485.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/10082348.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1044434135.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1061467336.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/106300392.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/10637120.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/107368840.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1538278785.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/102998070.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/110695011.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1159574340.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/116337803.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/105493603.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1468741099.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1579291454.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1000268201.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1021293940.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/15308702.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1434607942.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1594038143.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/10002456.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/10287332.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1075716537.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1084104085.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/108957912.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1196746186.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/134857559.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/146779920.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1021332107.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/105685221.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/107318069.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/108898978.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1176580356.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/132421833.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1039360778.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1080230428.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1184910489.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1567005236.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1924261173.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1006452823.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1089181217.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/115684808.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/134747073.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/141841337.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1733676900.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/11034843.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/110595925.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/100207720.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1003428081.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/100652400.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/100845130.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/105335409.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/105806535.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/118802644.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/123889082.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1001896054.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1088767354.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/11205420.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/119082045.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/107936523.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/110269384.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1714316707.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1012150929.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/104816788.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/10919429.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/124534466.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1199376686.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1435242484.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/106691539.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/106959209.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1073145694.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/108656820.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1197800988.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/12335073.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1454439103.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1547883892.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/102520526.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1079013716.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/10815824.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/114410209.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1151321278.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1160128934.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1989609.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1010470346.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/103625356.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1196602179.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1496289999.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1066252238.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/110600869.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/100444898.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/100716317.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1029450589.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/103953336.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1051953669.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/106027978.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1305564994.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1348278340.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/192618386.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/104835889.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1056359656.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1003163366.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/10160966.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/101859883.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/102851549.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/103205630.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/103306033.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/108970557.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/110613709.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1409041007.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1509786421.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1002674143.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/101669240.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1018057225.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1019604187.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/114954667.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/127644661.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1001545525.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1059514525.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1155138244.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/120538235.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1771490732.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1007320043.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/104136873.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/104824673.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/106039369.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/128391889.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1356796100.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/100759042.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1011572216.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1065323785.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1076503761.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1312954382.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1463072715.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1026792563.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1091942526.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1516839584.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/110615445.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/101093029.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/101362133.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1015712668.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/102268204.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1087539207.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1102763701.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1019077836.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1028205764.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1029737941.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1054620089.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/110201971.jpg filter=lfs diff=lfs merge=lfs -text
data/test_set/selected_images/1535963458.jpg filter=lfs diff=lfs merge=lfs -text
data/preprocessed/embeddings_prismatic.tsv filter=lfs diff=lfs merge=lfs -text
data/preprocessed/train2017_preprocessed_image_text_pairs.tsv filter=lfs diff=lfs merge=lfs -text
data/preprocessed/val2017_preprocessed_image_text_pairs.tsv filter=lfs diff=lfs merge=lfs -text
data/preprocessed/embeddings_prismatic.csv filter=lfs diff=lfs merge=lfs -text
data/coco_ann2017/annotations/person_keypoints_train2017.json filter=lfs diff=lfs merge=lfs -text
data/coco_ann2017/annotations/person_keypoints_val2017.json filter=lfs diff=lfs merge=lfs -text
data/coco_ann2017/annotations/captions_train2017.json filter=lfs diff=lfs merge=lfs -text
data/coco_ann2017/annotations/captions_val2017.json filter=lfs diff=lfs merge=lfs -text
data/coco_ann2017/annotations/instances_train2017.json filter=lfs diff=lfs merge=lfs -text
data/coco_ann2017/annotations/instances_val2017.json filter=lfs diff=lfs merge=lfs -text
data/out/embeddings_prismatic_1.tsv filter=lfs diff=lfs merge=lfs -text
data/out/embeddings_prismatic.tsv filter=lfs diff=lfs merge=lfs -text
